﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div id="taskpallet" class="create-task-shopify" style="display:none;">
        <p align="left" style="color:white; font-size:1.4em; margin-right:2%;">Create Tasks<img src="~/img/shopify.png" style="width:30px; margin-top:-2px; margin-left:50px;"><img src="~/img/notshopify.png" style="width:30px; margin-top:-2px; margin-left:15px;"></p>
        <div class="shopify">
            <select name="Category" id="profile-create-task">
                <option value="0">Profile</option>
                <option value="1">Alex</option>
            </select>
            <select name="Category" id="proxy-create-task">
                <option value="0">Proxy List</option>
                <option value="1">Alex</option>
            </select>
            <input type="text" class="keywords" placeholder="Keywords">
            <input type="text" class="keywords" placeholder="Task Specific Proxy">
            <input type="text" class="keywords" placeholder="Color">
            <input type="text" class="keywords" placeholder="Schedule 00:00:00pm">
            <select name="Category" id="proxy-create-task">
                <option value="0">Select Size</option>
                <option value="1">Alex</option>
            </select>
            <input type="text" class="keywords" placeholder="Quantity of Tasks">
            <div class="col bottom-1">
                <img src="~/img/addtaskbutton.png" style="width:60px;
            margin-top:20px;">
            </div>
        </div>
        <div class="non-shopify">
            <select name="Category" id="profile-create-task">
                <option value="0">Profile</option>
                <option value="1">Alex</option>
            </select>
            <select name="Category" id="proxy-create-task">
                <option value="0">Proxy List</option>
                <option value="1">Alex</option>
            </select>
            <input type="text" class="keywords" placeholder="Keywords">
            <input type="text" class="keywords" placeholder="Task Specific Proxy">
            <input type="text" class="keywords" placeholder="Color">
            <input type="text" class="keywords" placeholder="Schedule 00:00:00pm">
            <select name="Category" id="proxy-create-task">
                <option value="0">Select Size</option>
                <option value="1">Alex</option>
            </select>
            <input type="text" class="keywords" placeholder="Quantity of Tasks">
            <input type="text" class="keywords" placeholder="Account Email">
            <input type="text" class="keywords" placeholder="Account Password">
            <div class="col bottom-1">
                <img src="~/img/addtaskbutton.png" style="width:60px;
                margin-top:20px;">
            </div>
        </div>
    </div>



    <div class="col left">
        <center class="nav-icons">
            <div class="icon-container active">
                <a asp-controller="Home" asp-action="Index"><img src="~/img/taskicon.png" class="icon" id="tasks"></a>

            </div>
            <div class="icon-container @(ViewContext.RouteData.Values["Action"].ToString() == "LiveView" ? "active" : "")">
                <a asp-controller="Home" asp-action="LiveView"><img src="~/img/liveviewicon.png" class="icon" id="liveview"></a>

            </div>
            <div class="icon-container">
                <a asp-controller="Home" asp-action="Profiles"><img src="~/img/profilesicon.png" class="icon" id="profiles"></a>
            </div>
            <div class="icon-container">
                <a asp-controller="Home" asp-action="Captcha"><img src="~/img/captchaicon.png" class="icon" id="captcha"></a>
            </div>
            <div class="icon-container">
                <a asp-controller="Home" asp-action="Proxies"><img src="~/img/proxiesicon.png" class="icon" id="proxies"></a>
            </div>
            <div class="icon-container">
                <a asp-controller="Home" asp-action="Settings"><img src="~/img/settingsicon.png" class="icon" id="settings"></a>
            </div>
            <div class="icon-container">
                <a asp-controller="Home" asp-action="Faq"><img src="~/img/faqicon.png" class="icon" id="faq"></a>
            </div>
            <div class="logo-container">
                <img src="~/img/logo.png" class="logo">
            </div>
        </center>
    </div>

    <div class="col right">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


