﻿<div class="header-live">
    <div class="col small">
        <p align="left" style="color:white; font-size:2.2em; margin-right:2%;">Captcha Login</p>
    </div>
</div>

<div class="captchapage">
    <div class="captcha-container">
        <center>
            <p class="harvester-title">Harvester 1</p>
            <p align="center" class="user-name"><img src="~/img/userpic.png" class="user-pic">Ryan Chung</p>
            <p align="center" class="user-name">alex@pingpatrol.vip</p>
            <p align="center"><input type="button" class="close-captcha" value="X"></p>
            <p align="center"><input type="button" class="open-captcha" value="Open Harvester"></p>
        </center>
    </div>

</div>