﻿<div class="header">
    <div class="col small">
        <p align="left" style="color:white; font-size:2.2em; margin-right:2%;">Task Dashboard</p>
    </div>
    <div class="col small">
        <div class="active-container">
            <div class="col half">
                <p align="left" style="color:#8A9CFF;">4 Active Tasks</p>
            </div>
            <div class="col half">
                <div class="col quater">
                    <img src="~/img/playsmall.png" style="height:17px; margin-left:-10px;">
                </div>
                <div class="col quater">
                    <img src="~/img/stopsmall.png" style="height:17px; margin-left:-18px;">
                </div>
                <div class="col quater">
                    <img src="~/img/optionssmall.png" style="height:13px; margin-left:-23px;">
                </div>
                <div class="col quater">
                    <img src="~/img/deletesmall.png" style="height:17px; margin-left:-30px;">
                </div>
            </div>
        </div>
    </div>
    <div class="col small">
        <div class="active-container">
            <div class="col half">
                <p align="left" style="color:#7AE286;">2 Selected Tasks</p>
            </div>
            <div class="col half">
                <div class="col quater">
                    <img src="~/img/playsmall.png" style="height:17px; margin-left:px;" onclick="location.href='@Url.Action("Calltask", "Home")'">
                </div>
                <div class="col quater">
                    <img src="~/img/stopsmall.png" style="height:17px; margin-left:-8px;">
                </div>
                <div class="col quater">
                    <img src="~/img/optionssmall.png" style="height:13px; margin-left:-13px;">
                </div>
                <div class="col quater">
                    <img src="~/img/deletesmall.png" style="height:17px; margin-left:-20px;">
                </div>
            </div>
        </div>
    </div>
    <div class="col small">
        <div class="proxies-container">
            <p align="left" style="color:#FFBC8A">300 Proxies</p>
        </div>
    </div>
    <div class="col small discord">
        <div class="profile-container">
            <p align="left" style="color:#fff; margin-left:5px;"><img src="~/img/userpic.png" style="width:30px; padding-right:5px;">Alex Webb</p>
        </div>
    </div>

    <div class="task-header">
        <div class="col one">
            <p align="left" style="color:rgba(137,196,244,1);">ID</p>
        </div>
        <div class="col two">
            <p align="left" style="color:rgba(137,196,244,1);">Retailer</p>
        </div>
        <div class="col three">
            <p align="left" style="color:rgba(137,196,244,1);">Product Link</p>
        </div>
        <div class="col four">
            <p align="left" style="color:rgba(137,196,244,1);">Size</p>
        </div>
        <div class="col five">
            <p align="left" style="color:rgba(137,196,244,1);">Profile</p>
        </div>
        <div class="col six">
            <p align="left" style="color:rgba(137,196,244,1);">Schedule</p>
        </div>
        <div class="col seven">
            <p align="left" style="color:rgba(137,196,244,1);">Status</p>
        </div>
        <div class="col eight">
            <p align="left" style="color:rgba(137,196,244,1);">Actions</p>
        </div>
    </div>
</div>
<div class="taskpage">
    <div class="task">
        <div class="col one">
            <p align="left" class="listcols_txt">ID</p>
        </div>
        <div class="col two">
            <p align="left" class="listcols_txt">Retailer</p>
        </div>
        <div class="col three">
            <p align="left" class="listcols_txt">https://yeezysupply.com/products/flannel-lined-canvas</p>
        </div>
        <div class="col four">
            <p align="left" class="listcols_txt">Medium</p>
        </div>
        <div class="col five">
            <p align="left" class="listcols_txt">Alex</p>
        </div>
        <div class="col six">
            <p align="left" class="listcols_txt">23:14:12 </p>
        </div>
        <div class="col seven">
            <p align="left" style="color:#7AE286;">Checkout Success</p>
        </div>
        <div class="col eight">
            <div class="col quater" onclick="location.href='<%: Url.Action(\"Footlocker\", \"AutomationController\", new {site = \"1\"}) %>'">
                <img src="~/img/playsmall.png" style="height:17px; margin-left:0px;">
            </div>
            <div class="col quater">
                <img src="~/img/stopsmall.png" style="height:17px; margin-left:-18px;">
            </div>
            <div class="col quater">
                <img src="~/img/optionssmall.png" style="height:13px; margin-left:-31px;">
            </div>
            <div class="col quater">
                <img src="~/img/deletesmall.png" style="height:17px; margin-left:-48px;">
            </div>
        </div>
    </div>

    <div class="task">
        <div class="col one">
            <p align="left" class="listcols_txt">ID</p>
        </div>
        <div class="col two">
            <p align="left" class="listcols_txt">Retailer</p>
        </div>
        <div class="col three">
            <p align="left" class="listcols_txt">https://yeezysupply.com/products/flannel-lined-canvas</p>
        </div>
        <div class="col four">
            <p align="left" class="listcols_txt">Medium</p>
        </div>
        <div class="col five">
            <p align="left" class="listcols_txt">Alex</p>
        </div>
        <div class="col six">
            <p align="left" class="listcols_txt">23:14:12 </p>
        </div>
        <div class="col seven">
            <p align="left" style="color:#7AE286;">Checkout Success</p>
        </div>
        <div class="col eight">
            <div class="col quater">
                <img src="~/img/playsmall.png" style="height:17px; margin-left:px;">
            </div>
            <div class="col quater">
                <img src="~/img/stopsmall.png" style="height:17px; margin-left:-18px;">
            </div>
            <div class="col quater">
                <img src="~/img/optionssmall.png" style="height:13px; margin-left:-31px;">
            </div>
            <div class="col quater">
                <img src="~/img/deletesmall.png" style="height:17px; margin-left:-48px;">
            </div>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="col bottom-1" onclick="show_taskpallet()">
        <img src="~/img/addtaskbutton.png" style="width: 100px;">
    </div>
    <div class="col bottom-2">
        <img src="~/img/buttonnexttoadd.png" style="width:50px; margin-top:6vh">
    </div>
</div>
