﻿<div class="header-live">
    <div class="col small">
        <p align="left" style="color:white; font-size:2.2em; margin-right:2%;">Live View</p>
    </div>
</div>

<div class="liveviewpage">
    <div class="col live-1">
        <div class="col small-50">
            <img src="~/img/datausage.png" class="icon-live-box"><br>
            <p align="left" style="color:white; margin-top:8px; padding-left:30px;">Data Usage</p>
            <p align="left" style="color:white; font-size:0.7em; margin-top:-5px; padding-left:30px;">21.2GB</p>
        </div>
        <div class="col small-50">

        </div>
    </div>
    <div class="col live-2">
        <div class="col small-50">
            <img src="~/img/spending.png" class="icon-live-box">
            <p align="left" style="color:white; margin-top:8px; padding-left:30px;">Spending</p>
            <p align="left" style="color:white; font-size:0.7em; margin-top:-5px; padding-left:30px;">$5000</p>
        </div>
        <div class="col small-50">

        </div>
    </div>
    <div class="col live-3">
        <div class="box live-one">
            <div class="col small-one">
                <center>
                    <img src="~/img/captchaicon.png" style="margin-top:3.5vh; width:35px;">
                </center>
            </div>
            <div class="col small-two">
                <p align="left" style="color:white; font-size:1em; margin-top:3vh;">Unsolved Captchas</p>
                <p align="left" style="color:white; font-size:0.7em; margin-top:-1.2vh;">10</p>
            </div>
        </div>
        <div class="box live-one">
            <div class="col small-one">
                <center>
                    <img src="~/img/clock.png" style="margin-top:3.5vh; width:35px;">
                </center>
            </div>
            <div class="col small-two">
                <p align="left" style="color:white; font-size:1em; margin-top:3vh;">Time Running</p>
                <p align="left" style="color:white; font-size:0.7em; margin-top:-1.2vh;">10h 50m 25s</p>
            </div>
        </div>
        <div class="box live-one">
            <div class="col small-one">
                <center>
                    <img src="~/img/taskicon.png" style="margin-top:4.6vh;">
                </center>
            </div>
            <div class="col small-two">
                <p align="left" style="color:white; font-size:1em; margin-top:3vh;">Number of tasks</p>
                <p align="left" style="color:white; font-size:0.7em; margin-top:-1.2vh;">50</p>
            </div>
        </div>
        <div class="box live-one">
            <div class="col small-one">
                <center>
                    <img src="~/img/success.png" style="margin-top:3.5vh; width:35px;">
                </center>
            </div>
            <div class="col small-two">
                <p align="left" style="color:white; font-size:1em; margin-top:3vh;">Success Rate</p>
                <p align="left" style="color:white; font-size:0.7em; margin-top:-1.2vh;">50%</p>
            </div>
        </div>
        <div class="box live-one">
            <div class="col small-one">
                <center>
                    <img src="~/img/valid.png" style="margin-top:3.5vh; width:35px;">
                </center>
            </div>
            <div class="col small-two">
                <p align="left" style="color:white; font-size:1em; margin-top:3vh;">Valid Checkout Links</p>
                <p align="left" style="color:white; font-size:0.7em; margin-top:-1.2vh;">10</p>
            </div>
        </div>
    </div>
    <div class="col live-4">
        <p align="left" class="col-4-titles"><b>Updates</b><br>Version 1.0.6<br><br>Update log</p>
        <textarea class="update-log" placeholder="update-log" rows="15"></textarea>
    </div>
    <div class="col live-1-bottom">
        <div class="col small-50">
            <img src="~/img/successimage.png" class="icon-live-box">
            <p align="left" style="color:white; margin-top:8px; padding-left:30px;">Success</p>
            <p align="left" style="color:white; font-size:0.7em; margin-top:-5px; padding-left:30px;">10</p>
        </div>

    </div>
    <div class="col live-2-bottom">
        <div class="col small-50">
            <img src="~/img/failuresimage.png" class="icon-live-box">
            <p align="left" style="color:white; margin-top:8px; padding-left:30px;">Failures</p>
            <p align="left" style="color:white; font-size:0.7em; margin-top:-5px; padding-left:30px;">40</p>
        </div>

    </div>


</div>