﻿<div class="header-live">
    <div class="col small">
        <p align="left" style="color:white; font-size:2.2em; margin-right:2%;">Profiles</p>
    </div>
</div>

<div class="col profiles-left">
    <div class="profile-form-top">
        <select name="Category" id="profile">
            <option value="0">Profiles</option>
            <option value="1">Alex</option>
        </select>
        <img src="~/img/save.png" class="profile-buttons">
        <img src="~/img/delete.png" class="profile-buttons">
        <img src="~/img/import.png" class="profile-buttons">
        <img src="~/img/export.png" class="profile-buttons">
    </div>
    <div class="profile-form-bottom">
        <form class="add-profile">
            <input type="text" class="profile-name" placeholder="Profile Name">
            <p align="left" style="font-size:1.8em; color:white;">
                Shipping
                <img src="~/img/shippingbutton1.png" class="profile-buttons">
                <img src="~/img/shippingbutton2.png" class="profile-buttons">
            </p>
            <input type="text" class="first-name" placeholder="First Name">
            <input type="text" class="last-name" placeholder="Last Name">
            <input type="text" class="phone-number" placeholder="Phone Number">
            <input type="text" class="email-address" placeholder="Email Address">
            <input type="text" class="address-1" placeholder="Address 1">
            <input type="text" class="address-2" placeholder="Address 2">
            <input type="text" class="city" placeholder="City">
            <input type="text" class="zip-code" placeholder="Zip Code">
            <input type="text" class="state" placeholder="State">
            <input type="text" class="country" placeholder="Country">
            <p align="left" style="font-size:1.8em; color:white;">Card Details</p>
            <input type="text" class="card-number" placeholder="Card Number">
            <input type="text" class="expiry" placeholder="xx/xx">
            <input type="text" class="cvv" placeholder="xxx">


        </form>
    </div>
</div>
<div class="col profiles-right">

</div>