﻿<div class="header-live">
    <div class="col small">
        <p align="left" style="color:white; font-size:2.2em; margin-right:2%;">Proxies</p>
    </div>
</div>

<div class="proxiespage">
    <div class="col proxies-left">
        <textarea class="proxies" rows="22">Past Proxies (IP:Port:User:Pass)</textarea>
        <div class="bottom-section-proxies">
            <img src="~/img/save.png" class="proxies-buttons">
            <img src="~/img/delete.png" class="proxies-buttons">
            <img src="~/img/import.png" class="proxies-buttons">
            <img src="~/img/export.png" class="proxies-buttons">

            <select name="Category" id="proxies1">
                <option value="0">Test List</option>
                <option value="1">List 1</option>
            </select>
            <input type="text" class="list-name" placeholder="Last Name">
            <input type="text" class="test-url" placeholder="Last Name">
            <img src="~/img/proxytest.png" class="proxies-buttons">

        </div>
    </div>
    <div class="col proxies-right">
        <textarea class="proxies" rows="22">192.192.192.1
            </textarea>
    </div>



</div>