﻿<div class="header-live">
    <div class="col small">
        <p align="left" style="color:white; font-size:2.2em; margin-right:2%;">Settings</p>
    </div>
</div>

<div class="settingspage">
    <div class="proxies-top">

        <input type="text" class="discord-webhook" placeholder="Discord Webhook URL">
    </div>
    <div class="proxies-bottom">
        <p align="left" style="font-size:1.4em; color:white;">Default Delays</p>
        <input type="text" class="monitor-delay" placeholder="Monitor Delay">
        <input type="text" class="retry-delay" placeholder="Retry Delay">
        <p align="left" style="font-size:1.4em; color:white; margin-top:2vh;">Quicktask Settings</p>
        <select name="Size" id="choose-size">
            <option value="0">Choose Size</option>
            <option value="1">10 US</option>
        </select>
        <select name="Category" id="choose-profile">
            <option value="0">Choose Profile</option>
            <option value="1">Alex</option>
        </select>
        <input type="text" class="retry-delay" placeholder="Number Of Tasks" style="margin-top:2vh;">

    </div>
</div>
